<h1>Localize#index</h1>
                <p>
                                vous êtes à proximité, c'est bien ça ?
                                                </p>
                                                                 <div id="map"></div>
                                                                                  <p>
                                                                                                     <%= button_to "c'est ma localisation", localize_localization_path(lat:1,lon:1), method: :post %>
                                                                                                                      </p>
