<main>
  <div id="users">
    <div class="myusers">
    </div>
    <div class="button">
    <div class="nbusers">
    </div>
    <div class="refresh">
    </div>
    </div>
  </div>
  <div id="mydiv2">
  </div>
</main>
