<main>
  <div id="users">
    <div class="myusers">
    </div>
    <div class="button">
    <div class="nbusers">
      O
    </div>
    <div class="refresh">
      <a href="">&#10227;</a>
    </div>
    </div>
  </div>
  <div id="mydiv2">
  </div>
</main>
