<div class="talk-bubble tri-right myborder round btm-left-in">
    <div class="talktext">
          <p>Now we add a border and it looks like a comic. Uses .border .round and .btm-left-in</p>
            </div>
</div>
