<h1>Tchatche#chat</h1>
<div class="messages"></div>
                <div class="field">
                                    <textarea id="msgtext">
                                                        </textarea>
                                                                        </div>
                                                                                        <div class="actions">
                                                                                                            <button type="button" id="btn2">ecrire 1 message</button>
                                                                                                                            </div>

