<h1>Editing photoprive</h1>

<%= render "form", photoprife: @photoprife %>

<br>

<div>
  <%= link_to "Show this photoprive", @photoprife %> |
  <%= link_to "Back to photoprives", photoprives_path %>
</div>
