/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
input[type="submit"] {
	    width: 318px;
	        height: 42px;
		    background: orange;
		        color: white;
			    border: none;
			        font-size: 22px;
			}
			label.btn.btn-secondary[for=iamf], label.btn.btn-secondary[for=isearchf]   {
				    --bs-btn-bg: grey;
				        --bs-btn-active-bg: #97004a;
				}
			label.btn.btn-secondary[for=iamm], label.btn.btn-secondary[for=isearchm]   {
				    --bs-btn-bg: grey;
				        --bs-btn-active-bg: #191991;
				}
				.iam {
					    display: flex;
					        padding: 20px;
						    align-items: stretch;
						        justify-content: space-around;
							    flex-direction: row;
							        align-content: center;
							}
							.datefield {
								    display: flex;
								        text-align: center;
						    align-items: stretch;
						        justify-content: space-around;
							    flex-direction: row;
							        align-content: center;
								}
								main {
									    display: flex;
									        align-items: self-start;
									}
									.range-slider {
										  height: 5px;
										    position: relative;
										      background-color: #e1e9f6;
										        border-radius: 2px;
										}
										.range-selected {
											  height: 100%;
											    left: 30%;
											      right: 30%;
											        position: absolute;
												  border-radius: 5px;
												    background-color: #1b53c0;
											    }
											    .range-input {
												      position: relative;
											      }
											      .range-input input {
												        position: absolute;
													  width: 100%;
													    height: 5px;
													      top: -7px;
													        background: none;
														  pointer-events: none;
														    -webkit-appearance: none;
														      -moz-appearance: none;
													      }
													      .range-input input::-webkit-slider-thumb {
														        height: 20px;
															  width: 20px;
															    border-radius: 50%;
															      border: 3px solid #1b53c0;
															        background-color: #fff;
																  pointer-events: auto;
																    -webkit-appearance: none;
															    }
															    .range-input input::-moz-range-thumb {
																      height: 15px;
																        width: 15px;
																	  border-radius: 50%;
																	    border: 3px solid #1b53c0;
																	      background-color: #fff;
																	        pointer-events: auto;
																		  -moz-appearance: none;
																	  }
																	  .range-price {
																		    margin: 30px 0;
																		      width: 100%;
																		        display: flex;
																			  justify-content: center;
																			    align-items: center;
																		    }
																		    .range-price label {
																			      margin-right: 5px;
																		      }
																		      .range-price input {
																			        width: 40px;
																				  padding: 5px;
																			  }
																			  .range-price input:first-of-type {
																				    margin-right: 15px;
																			    }
																			    #map { height: 180px;width:540px; }
