<h1>Editing photopublic</h1>

<%= render "form", photopublic: @photopublic %>

<br>

<div>
  <%= link_to "Show this photopublic", @photopublic %> |
  <%= link_to "Back to photopublics", photopublics_path %>
</div>
